@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-25: #f9f8fc;
	--primary-50: #eae7f9;
	--primary-100: #dbd5f7;
	--primary-200: #ccc2f4;
	--primary-300: #bdacf2;
	--primary-400: #ae95ef;
	--primary-500: #9f7eec;
	--primary-600: #8e66ff;
	--primary-700: #6e3dff;
	--primary-800: #4e14ff;
	--primary-900: #2e1a69;
}

@layer base {
	html {
		font-family: 'Poppins', sans-serif;
	}
}

/* Absolute Center Spinner */
.loader {
	position: fixed;
	z-index: 100000;
	height: 2em;
	width: 2em;
	overflow: show;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

/* Transparent Overlay */
.loader:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
	background: #ffffff;
}

/* :not(:required) hides these rules from IE9 and below */
.loader:not(:required) {
	/* hide "loader..." text */
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.loader:not(:required):after {
	content: '';
	display: block;
	font-size: 10px;
	width: 1em;
	height: 1em;
	margin-top: -0.5em;
	-webkit-animation: spinner 150ms infinite linear;
	-moz-animation: spinner 150ms infinite linear;
	-ms-animation: spinner 150ms infinite linear;
	-o-animation: spinner 150ms infinite linear;
	animation: spinner 150ms infinite linear;
	border-radius: 0.5em;
	-webkit-box-shadow: rgba(0, 0, 0, 0.8) 1.5em 0 0 0, rgba(0, 0, 0, 0.8) 1.1em 1.1em 0 0,
		rgba(0, 0, 0, 0.8) 0 1.5em 0 0, rgba(0, 0, 0, 0.8) -1.1em 1.1em 0 0,
		rgba(0, 0, 0, 0.8) -1.5em 0 0 0, rgba(0, 0, 0, 0.8) -1.1em -1.1em 0 0,
		rgba(0, 0, 0, 0.8) 0 -1.5em 0 0, rgba(0, 0, 0, 0.8) 1.1em -1.1em 0 0;
	box-shadow: rgba(0, 0, 0, 0.8) 1.5em 0 0 0, rgba(0, 0, 0, 0.8) 1.1em 1.1em 0 0,
		rgba(0, 0, 0, 0.8) 0 1.5em 0 0, rgba(0, 0, 0, 0.8) -1.1em 1.1em 0 0,
		rgba(0, 0, 0, 0.8) -1.5em 0 0 0, rgba(0, 0, 0, 0.8) -1.1em -1.1em 0 0,
		rgba(0, 0, 0, 0.8) 0 -1.5em 0 0, rgba(0, 0, 0, 0.8) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-moz-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-o-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* scrollbar  */
/* width */
::-webkit-scrollbar {
	width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
	margin: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--primary-900);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--primary-900);
}

.scrollbar-hide {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
	width: 0;
	height: 0;
}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	::-webkit-scrollbar,
	::-webkit-scrollbar-track,
	::-webkit-scrollbar-thumb {
		display: none;
	}
}
